<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="wow_data_path" value="c:\program files\world of warcraft\data"/>
    <add key="mpq_list" value="
      common.MPQ,
      common-2.MPQ,
      patch.MPQ,
      expansion.MPQ,
      enUS/base-enUS.MPQ,
      enUS/expansion-locale-enUS.MPQ,
      enUS/locale-enUS.MPQ,
      enUS/patch-enUS.MPQ
    "/>
    <add key="blacklistPath" value="
         creature\, textures\bakednpctextures, textures\minimap, character\, item\objectcomponents, item\texturecomponents
    "/>
  </appSettings>
</configuration>