<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="wow_data_path" value="e:\games\world of warcraft\data"/>
    <add key="mpq_list" value="
      art.MPQ,
      base-Win.MPQ,
      expansion1.MPQ,
      expansion2.MPQ,
      expansion3.MPQ,
      wow-update-base-15211.MPQ,
      wow-update-base-15354.MPQ,
      enUS/locale-enUS.MPQ,
      enUS/expansion1-locale-enUS.MPQ,
      enUS/expansion2-locale-enUS.MPQ,
      enUS/expansion3-locale-enUS.MPQ
    "/>
    <add key="blacklistPath" value="
         creature\, textures\bakednpctextures, textures\minimap, character\, item\objectcomponents, item\texturecomponents,
         World\Minimaps\, Interface\WorldMap\
    "/>
  </appSettings>
</configuration>